@use '../abstracts' as *;

@for $i from 1 through 10{
    .f-#{$i}{
        font-size: calc(var(--fs-100) * #{$i});
    }
}

.leading-none{
  line-height: 1 !important;
}

.leading-normal{
   line-height: 1.5 !important;
}