@use '../abstracts' as *;

@for $i from 1 through 10{
    .my-#{$i}{
        margin: calc(var(--fs-100) * #{$i}) 0;
    }
    .mx-#{$i}{
        margin: 0 calc(var(--fs-100) * #{$i});
    }

    .mt-#{$i}{
        margin-top: calc(var(--fs-100) * #{$i});
    }

    .mb-#{$i}{
        margin-bottom: calc(var(--fs-100) * #{$i});
    }

    .ml-#{$i}{
        margin-left: calc(var(--fs-100) * #{$i});
    }

    .mr-#{$i}{
        margin-right: calc(var(--fs-100) * #{$i});
    }
}