.t-center{
    text-align: center;
}

.t-right{
    text-align: right;
}

.t-left{
    text-align: left;
}

.t-justify{
    text-align: justify;
}

.t-uppercase{
    text-transform: uppercase;
}

.t-bold{
  font-family: var(--bold) !important;
}

.t-small{
  font-size: 12px;
}