.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.uppercase{
    text-transform: uppercase;
}

.text-bold{
  font-family: var(--text-bold) !important;
}

.text-black{
  font-family: var(--text-black) !important;
}

.text-xs{
  font-size: 12px;
}

.text-sm{
  font-size: 14px;
}

.text-lg{
   font-size: 1.8rem;
}

.text-xl{
   font-size: 2rem;
}

.align-middle{
   vertical-align: middle;
}
