//Montserrat Regular
@font-face {
    font-family: "Montserrat Regular";
    font-weight: 400;
    font-display: swap;
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

//Montserrat Bold
@font-face {
    font-family: "Montserrat Bold";
    font-weight: 700;
    font-display: swap;
    src: url("../font/Montserrat/Montserrat-Bold.ttf");
}

//Nunito
@font-face {
    font-family: "Nunito Extra-Bold";
    font-weight: 800;
    font-display: swap;
    src: url("../font/Nunito/static/Nunito-ExtraBold.ttf");
}