@use "../../abstracts" as *;

.policy {
    position: relative;

    //breakpoint 428px
    @include bp(429px) {
        &__header {
            h2 {
                font-size: toRem(30);
                line-height: toRem(36);
            }
        }
    }
}
