@use "../../abstracts" as *;

/*
* DIVIDE WIDTH
*/
.divide-x-0{
   border-right-width: 0;
   border-left-width: 0;
}

.divide-x-2{
   border-right-width: 2px;
   border-left-width: 0;
}

.divide-x-4{
   border-right-width: 4px;
   border-left-width: 0;
}

.divide-x-8{
   border-right-width: 8px;
   border-left-width: 0;
}

.divide-x{
   border-right-width: 1px;
   border-left-width: 0;
}

.divide-y-0{
   border-top-width: 0;
   border-bottom-width: 0;
}

.divide-y-2{
   border-top-width: 0;
   border-bottom-width: 2px;
}

.divide-y-4{
   border-top-width: 0;
   border-bottom-width: 4px;
}

.divide-y-8{
   border-top-width: 0;
   border-bottom-width: 8px;
}

.divide-y{
   border-top-width: 0;
   border-bottom-width: 1px;
}



