$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../font/icon/fonts" !default;

$icon-arrow-back: "\e900";
$icon-arrow-forward: "\e901";
$icon-clock: "\e902";
$icon-facebook: "\e903";
$icon-html5: "\e904";
$icon-instagram: "\e905";
$icon-location: "\e906";
$icon-paw: "\e907";
$icon-phone: "\e908";
$icon-small-paw: "\e909";
$icon-telephone: "\e90a";
$icon-testimonial: "\e90b";
$icon-whatsapp: "\e90c";

