@use "../../abstracts" as *;

.error {
    padding: toRem(80) 0;
    text-align: center;

    &__header {
        margin-bottom: toRem(64);

        h1 {
            margin-bottom: toRem(56);
            font-size: toRem(80);
            color: var(--clr-primary-700);
        }
    }
}
