@use "../abstracts" as *;

.btn {
    padding: toRem(16) toRem(40);
    display: inline-block !important;
    font: {
        weight: var(--font-bold);
        size: toRem(16);
    }
    cursor: pointer;
    outline: none;
    border: none;
    transform: scale(1);
    line-height: 1.1 !important;

    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;

    &:active {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

.btn-primary {
    @extend .btn;
    color: #fff;
    background: var(--clr-primary-500);

    &:hover {
        background: var(--clr-primary-700);
    }
}
