@use "../abstracts" as *;

@each $color, $shade in $colors {
    @each $prop, $value in $shade {
        .link-#{$color}-#{$prop} {
            color: inherit;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 1000ms;

            &:hover,
            &:focus {
                color: $value !important;
            }
        }
    }
}