@use "../abstracts" as *;

.pagination__nav {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: toRem(8);
        flex-direction: row;

        &__item {
            width: toRem(48);
            height: toRem(48);
            font-size: toRem(16);
            line-height: 1.1 !important;
            background: transparent;
            border-radius: 3px;
            @include transition(all);

            &:hover {
                background: var(--clr-primary-500);
                color: #fff;
                border-color: var(--clr-primary-500);
            }

            &__link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--clr-neutral-500);
                border-radius: inherit;

                &--active {
                    color: #fff;
                    border-radius: 3px;
                    border: 1px solid var(--clr-primary-500);
                    background: var(--clr-primary-500);
                    transform: none;
                }
            }
        }
    }
}
