@use "../abstracts" as *;

.blog {
	&__pagination {
		.page-numbers {
			display: flex;
			justify-content: center;
			gap: toRem(16);
			flex-wrap: wrap;

			li {
				span,
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: toRem(48);
					height: toRem(48);
					border: 1px solid var(--clr-neutral-300);
					border-radius: toRem(4);
					background: transparent;
				}

				a {
					transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
					transform, filter, backdrop-filter;
					transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
					transition-duration: 1000ms;

					&:hover {
						color: var(--clr-primary-950);
						border-color: var(--clr-primary-500);
						background: var(--clr-primary-500);
					}
				}

				.current {
					font-weight: var(--font-bold);
					border-color: var(--clr-primary-500);
					background: var(--clr-primary-500);
					color: var(--clr-primary-950);
				}
			}

			//breakpoint 428px
			@include bp(429px) {
				gap: toRem(8);
				li {
					span,
					a {
						width: toRem(40);
						height: toRem(40);
					}
				}
			}

			//breakpoint 375px
			@include bp(376px) {
				gap: toRem(8);
				li {
					span,
					a {
						width: toRem(36);
						height: toRem(36);
					}
				}
			}
		}
	}
}
