@use '../../abstracts' as *;
/*
* CONTAINER
*/
.container {
    width: 100%;
    margin-inline: auto;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */

    @include breakpoint(sm) {
        max-width: var(--sm);
    }

    @include breakpoint(md) {
        max-width: var(--md);
    }

    @include breakpoint(lg) {
        max-width: var(--lg);
        padding-left: 2rem; /* 32px */
        padding-right: 2rem; /* 32px */
    }

    @include breakpoint(xl) {
        max-width: var(--xl);
        padding-left: 2.5rem; /* 40px */
        padding-right: 2.5rem; /* 40px */
    }

    //@include breakpoint(2xl) {
    //    max-width: var(--2xl);
    //}
}
