@use '../abstracts' as *;

:root {
   /*
   * FONT FAMILY
   */
   --font-default: 'Maven Pro', sans-serif;
   --font-reading: 'PT Serif', serif;
   --font-highligh: 'Maven Pro', sans-serif;

   /*
   * FONT SIZE
   */
   --font-base: 16px;

   /*
   * FONT STYLE
   */
   --italic: italic;
   --not-italic: normal;

   /*
   * FONT WEIGHT
   */
   --font-normal: 400;
   --font-medium: 500;
   --font-bold: 700;

   /*
   * COLORS
   */
   @each $color, $shade in $colors {
      @each $prop, $value in $shade {
         --clr-#{$color}-#{$prop}: #{$value};
      }
   }

   /*
   * SCREEN SIZES
   */
   @each $screen-size, $property in $container {
      --#{$screen-size}: #{$property};
   }
}
