@use "../abstracts" as *;

* {
    font-family: var(--font-default);
    font-style: var(--not-italic);
}

html {
    font-size: var(--font-base);
    font-weight: var(--font-normal);
    color: var(--clr-neutral-400);
}

body {
    font-size: var(--font-base);
    line-height: toRem(24);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-highlight);
    font-size: inherit;
    font-weight: var(--font-bold);
    line-height: 1.1;
}

a,
strong,
b,
em,
span {
    font: inherit;
}

strong,
b {
    font-weight: var(--font-bold);
}

em {
    font-style: var(--italic);
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

address {
    font: inherit;
}

input,
textarea {
    font: inherit;
    color: var(--clr-neutral-300);
}
