/**
* Brand Colors
*/
$primaryLight: #668eb0;
$primaryMid: #00437B;
$primaryDark: #00284a;
$primaryHover: #001425;

/**
* Semantic Colors
*/
$successLight: #02DD5B;
$successBase: #1F8D3F;
$successLow: #051D11;

$dangerLight: #FB5B67;
$dangerBase: #D72936;
$dangerLow: #2E0B11;

$warningLight: #F29C4A;
$warningBase: #E87F1C;
$warningLow: #2C1D06;

$infoLight: #1CE5BE;
$infoBase: #077B74;
$infoLow: #15343B;

/**
* Neutral Colors
*/
$neutral-100: #EBEBEF;
$neutral-200: #CFCFD3;
$neutral-300: #94939E;
$neutral-400: #7F8092;
$neutral-500: #504F5B;
$neutral-600: #333337;
$neutral-700: #2A2A2E;
$neutral-800: #222224;
$neutral-900: #151517;
$neutral-950: #0B0B0B;

/**
* Whatsapp Color 
*/
$whatsapp: #2CD366;

$colors: (
   "primary": (
      300: $primaryLight,
      500: $primaryMid,
      700: $primaryDark,
      900: $primaryHover,
   ),
   "success": (
      300: $successLight,
      500: $successBase,
      700: $successLow,
   ),
   "danger": (
      300: $dangerLight,
      500: $dangerBase,
      700: $dangerLow,
   ),
   "warning": (
      300: $warningLight,
      500: $warningBase,
      700: $warningLow,
   ),
   "info": (
      300: $infoLight,
      500: $infoBase,
      700: $infoLow,
   ),
   "neutral": (
      100: $neutral-100,
      200: $neutral-200,
      300: $neutral-300,
      400: $neutral-400,
      500: $neutral-500,
      600: $neutral-600,
      700: $neutral-700,
      800: $neutral-800,
      900: $neutral-900,
      950: $neutral-950,
   ),
   "whatsapp": (
      "500": $whatsapp,
   )
);
