@use 'breakpoints' as b;
@use 'container' as c;

@mixin breakpoint($key) {
   $size: map-get(c.$container, $key);

   @media only screen and (min-width: $size) {
      @content;
   }
}

@mixin mq($key) {
   $size: map-get(b.$breakpoints, $key);

   @media only screen and (max-width: $size) {
      @content;
   }
}

@mixin bp($size) {
   @media only screen and (max-width: $size) {
      @content;
   }
}

@mixin transition($key) {
   transition: $key 300ms ease-in-out;
}

