@use "../abstracts" as *;

.header{
    height: fit-content;
    top: 0;
    left: 0;
    
    &__row{
        &__wrapper{
            &__nav{
                &__navbar{
                    &__content{
                        &__menu{
                            li{
                                position: relative;
                                
                                a{
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        bottom: -8px;
                                        left: 0;
                                        width: 100%;
                                        height: 4px;
                                        background: var(--clr-primary-500);
                                        transform-origin: left center;
                                        transform: scaleX(0);
                                        opacity: 0;
                                        transition: all 300ms linear;
                                    }

                                    &:hover{
                                        &::before{
                                            opacity: 1;
                                            transform: scaleX(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &__toggle{
            span{
                &:nth-child(1), &:nth-child(3) {
                    transform: initial;
                    @include transition(all);
                }

                &:nth-child(2) {
                    opacity: 1;
                    @include transition(all);
                }
            }
        }
    }

    &--active{
        @include transition(all);

        .header__row__wrapper{
            &__nav{
                transform: scaleY(1);
            }
        }
        
        .header__row__toggle{
            span{
                @include transition(all);

                &:nth-child(1) {
                    transform-origin: center;
                    transform: rotate(45deg) translate(8px, 8px);
                    @include transition(all);
                }

                &:nth-child(2) {
                    opacity: 0;
                    @include transition(all);
                }

                &:nth-child(3) {
                    transform-origin: center;
                    transform: rotate(-45deg) translate(9px, -9px);
                    @include transition(all);
                }
            }
        }
    }
    
    //breakpoint 768px
    @include bp(768px){
        &__row{
            &__wrapper{
                &__cta{
                    display: none;
                }

                &__nav{
                    display: block;
                    position: absolute;
                    top: 7rem;
                    left: 0;
                    padding: 2.5rem 1.5rem;
                    width: 100%;
                    background: var(--clr-neutral-100);
                    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
                    transform-origin: top;
                    transform: scaleY(0);
                    @include transition(transform);
                    
                    &__navbar{
                        &__content{
                            &__menu{
                                flex-direction: column;
                                
                                li{
                                    font-size: 1.125rem;
                                    color: var(--clr-neutral-400);
                                    font-weight: var(--font-medium);
                                }
                            }
                        }
                    }
                }
            }
            
            &__toggle{
                display: block;
            }
        }
    }
    
    //breakpoint 360px
    @include bp(360px){
        &__row{
            &__brand{
                img{
                    height: 6rem;
                }
            }
        }
    }
}