@use "../abstracts" as *;

.header {
    $this: &;
    top: 0;
    left: 0;
    width: 100%;
    min-height: toRem(120);
    max-height: 100vh;
    overflow: auto;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;

    &__row {
        &__wrapper {
            &__toggle {
                span {
                    &:nth-child(1),
                    &:nth-child(3) {
                        transform: initial;
                        transition-property: all;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 800ms;
                    }

                    &:nth-child(2) {
                        opacity: 1;
                        transition-property: all;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 800ms;
                    }
                }
            }
        }

        &__content {
            &__nav {
                &__navbar {
                    &__content {
                        &__menu {
                            li {
                                position: relative;

                                a {
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        bottom: -8px;
                                        left: 0;
                                        width: 100%;
                                        height: 4px;
                                        background: var(--clr-secondary-500);
                                        transform-origin: left center;
                                        transform: scaleX(0);
                                        opacity: 0;
                                        transition: all 300ms linear;
                                    }

                                    &:hover {
                                        &::before {
                                            opacity: 1;
                                            transform: scaleX(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //breakpoint 810px
    @include bp(811px) {
        min-height: auto;
        padding: toRem(24) 0;

        &__row {
            display: block;

            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__toggle {
                    display: block;
                    height: toRem(72);
                }
            }

            &__content {
                display: block;
                width: 100%;
                max-height: 0;
                overflow: hidden;
                visibility: collapse;
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 800ms;

                &__nav {
                    border-top: 2px solid var(--clr-secondary-500);
                    margin-top: toRem(32);
                    padding: toRem(32) 0;
                    display: block;
                    width: 100%;

                    &__navbar {
                        &__content {
                            &__menu {
                                flex-direction: column;

                                li {
                                    font-size: toRem(18);
                                    font-weight: var(--font-medium);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //breakpoint 428px
    @include bp(429px) {
        &__row {
            &__content {
                &__nav {
                    &__navbar {
                        &__content {
                            &__menu {
                                gap: toRem(16);

                                li {
                                    width: 100%;
                                    background: var(--clr-neutral-200);
                                    border-radius: toRem(6);

                                    a {
                                        width: 100%;
                                        padding: toRem(16);
                                        display: block;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //breakpoint 360px
    @include bp(360px) {
        &__row {
            &__wrapper {
                &__brand {
                    img {
                        height: toRem(64);
                    }
                }
            }
        }
    }

    //menu active
    &--active {
        #{$this} {
            &__row {
                &__content {
                    max-height: 100vh;
                    //visibility: visible;
                    visibility: initial;
                }

                &__wrapper {
                    &__toggle {
                        span {
                            &:nth-child(1) {
                                transform-origin: center;
                                transform: rotate(45deg) translate(8px, 8px);
                            }

                            &:nth-child(2) {
                                opacity: 0;
                                visibility: hidden;
                            }

                            &:nth-child(3) {
                                transform-origin: center;
                                transform: rotate(-45deg) translate(9px, -9px);
                            }
                        }
                    }
                }
            }
        }
    }

    &--fixed {
        position: fixed;
        top: 0;
        width: 100%;
        animation: translateHeader 0.8s;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.1);
        @include transition(all);

        @keyframes translateHeader {
            from {
                transform: translateY(-120%);
            }

            to {
                transform: translateY(0);
            }
        }
    }
}
