@use "../abstracts" as *;
@use "../utilities/transitions-animation/transition-property";
@use "../utilities/transitions-animation/transition-duration";
@use "../utilities/transitions-animation/transition-timing-function";

.whatsapp {
    right: toRem(32);
    bottom: toRem(32);
    transform: scale(1);
    @extend .transition;
    @extend .duration-700;
    @extend .ease-in-out;

    &:hover {
        transform: scale(0.95);
    }

    a {
        width: toRem(72);
        height: toRem(72);
    }

    //breakpoint 800px
    @include bp(800px) {
        right: toRem(16);
        bottom: toRem(16);
    }
}
