@use '../abstracts' as *;
@use "../utilities/transitions-animation/transition-property";
@use "../utilities/transitions-animation/transition-duration";
@use "../utilities/transitions-animation/transition-timing-function";

.whatsapp {
    right: 2rem;
    bottom: 2rem;
    transform: scale(1);
    @extend .transition;
    @extend .duration-700;
    @extend .ease-in-out;

    &:hover{
        transform: scale(.95);
    }
    
    a {
        width: 4.5rem;
        height: 4.5rem;
    }
    
    //breakpoint 800px
    @include bp(800px){
        right: 1rem;
        bottom: 1rem;
    }
}