@use "../../abstracts" as *;

/*
* FONT WEIGHT
*/
.font-thin{
    font-weight: 100;
}

.font-extralight{
    font-weight: 200;
}

.font-light{
    font-weight: 300;
}

.font-normal{
    font-weight: var(--font-normal);
}

.font-medium{
    font-weight: var(--font-medium);
}

.font-semibold{
    font-weight: 600;
}

.font-bold{
    font-weight: var(--font-bold);
}

.font-extrabold{
    font-weight: 800;
}

.font-black{
    font-weight: 900;
}

